
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>edit Account</title>
    <!-- Ajoutez vos feuilles de style ou scripts si nécessaire -->
</head>
<body>

<div th:replace="navbar :: navbar"></div>

<h2>Modifier un Compte Bancaire</h2>
<form th:action="@{/bank-accounts/edit}" th:object="${bankAccount}" method="post">
  NOM:<input type="text" th:field="*{nom}" />
  PRENOM:<input type="text" th:field="*{prenom}" />
  RIB: <input type="text" th:field="*{rib}" />
  <!-- Ajoutez d'autres champs ici -->
  <input type="submit" value="Modifier" />
</form>


</body>
</html>







