<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Historique des Transactions</title>
</head>
<body>

<div th:replace="navbar :: navbar"></div>

<h2>Transactions Envoyées</h2>
<table>
    <tr>
        <th>Date</th>
        <th>Destinataire</th>
        <th>Montant</th>
        <th>Description</th>
    </tr>
    <tr th:each="transaction : ${sentTransactions}">
        <td th:text="${#temporals.format(transaction.date, 'dd/MM/yyyy HH:mm:ss')}"></td>
        <td th:text="${transaction.recipient.email}"></td>
        <td th:text="${transaction.amount}"></td>
        <td th:text="${transaction.description}"></td>
    </tr>
</table>

<h2>Transactions Reçues</h2>
<table>
    <tr>
        <th>Date</th>
        <th>Expéditeur</th>
        <th>Montant</th>
        <th>Description</th>
    </tr>
    <tr th:each="transaction : ${receivedTransactions}">
        <td th:text="${#temporals.format(transaction.date, 'dd/MM/yyyy HH:mm:ss')}"></td>
        <td th:text="${transaction.sender.email}"></td>
        <td th:text="${transaction.amount}"></td>
        <td th:text="${transaction.description}"></td>
    </tr>
</table>

</body>
</html>
