<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Accueil - PayMyBuddy</title>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
</head>
<body>
    <div th:replace="navbar :: navbar"></div> 

    <div class="container my-4">
        <h1 class="text-center mb-3">Bienvenue chez PayMyBuddy</h1>
        <p class="text-center mb-4">Le meilleur site pour effectuer des transactions en toute sécurité</p>

       
        <div th:if="${user}" class="alert alert-success text-center">
            <p>Ravi de vous retrouver, <span th:text="${user.nom}">Nom</span> <span th:text="${user.prenom}">Prénom</span>!</p>
        </div>

        
        <div th:if="${errorMessage}" class="alert alert-danger text-center">
            <p th:text="${errorMessage}">Message d'erreur</p>
        </div>

        <!-- Lien pour activer le compte -->
        <div class="text-center mt-4">
            <a href="/PMB/activatePayMyBuddyAccount" class="btn btn-primary">Activer votre compte PayMyBuddy</a>
        </div>
    </div>
    
    <!-- Bootstrap JS Bundle -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</body>
</html>
