<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Liste des Comptes Bancaires</title>
    <!-- Feuille de style Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
</head>
<body>

<div th:replace="navbar :: navbar"></div>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/home}">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" >/</a>
        </li>
       <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/transfers/transferHistory}">Transfer</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container my-4">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h2>Liste des Comptes Bancaires</h2>
            <table class="table table-striped">
                <thead class="thead-light">
                    <tr>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>N° RIB</th>
                        <th>Solde</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="account : ${bankAccounts}">
                        <td th:text="${account.nom}"></td>
                        <td th:text="${account.prenom}"></td>
                        <td th:text="${account.rib}"></td>
                        <td th:text="${account.balance}"></td>
                        <td>
                            <a th:href="@{/bank-accounts/edit/{id}(id=${account.id})}" class="btn btn-primary btn-sm">Modifier</a>
                            <a th:href="@{/bank-accounts/delete/{id}(id=${account.id})}" class="btn btn-danger btn-sm">Supprimer</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <a href="/bank-accounts/add" class="btn btn-success">Ajouter un nouveau compte</a>
        </div>
    </div>
</div>

</body>
</html>
